[alias]
    unstage = reset HEAD --
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    alias = config --get-regexp '^alias\\.'
[user]
    useconfigonly = true
[core]
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less -RF
[include]
    path = ~/.config/git-user
