[alias]
    alias = config --get-regexp '^alias\\.'
    br = branch
    cb = branch --show-current
    cc = rev-parse --short HEAD
    ci = commit
    co = checkout
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    st = status
    unstage = reset HEAD --
[core]
    excludesfile = ~/.gitignore_global
    pager = delta --dark --keep-plus-minus-markers
[include]
    path = ~/.config/git-user
[interactive]
    diffFilter = delta --color-only
[remote "origin"]
	prune = true
[user]
    useconfigonly = true
[pull]
	rebase = false
